:root {
    --main-color: rgb(0, 0, 0, 1);
    --secundary-color: rgb(255, 255, 255, 1);
    --base-font-size: 1.125rem;

}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

#content{
    margin: 3rem;
}